.m-map {
   background-color: #001427;

    .parking-garage {
        fill: #f25c54;
        r: 3;
     }
     
     .parking-garage:hover {
        fill: #f4845f;
        cursor: pointer;
     }

     svg {
        cursor: grab;
     }
     
     svg:active {
        cursor: grab;
     }
    
     .district-path {
        fill: transparent;
        stroke: #f25c54;
        stroke-width: .5;
     }

   //   .district-path:hover {
   //      fill: #f25c54;
   //   }
     
     .geo-path {
        pointer-events: none;
        fill: none;
        stroke: #7d8597;
        stroke-width: .3;
     }
}