.m-map {
    .parking-garage {
        fill: #028090;
     }
     
     .parking-garage:hover {
        fill: #02c39a;
        cursor: pointer;
     }
     
     .old-parking-garage {
      fill: #ff6d00;
      }
      
      .old-parking-garage:hover {
         fill: #ff9e00;
         cursor: pointer;
      }

     svg {
        cursor: grab;
     }
     
     svg:active {
        cursor: grab;
     }
    
     .district-path {
        fill: none;
        stroke: #028090;
        stroke-width: .2;
     }
     
     .geo-path {
        fill: none;
        stroke: rgb(140, 140, 140);
        stroke-width: .1;
     }
     
     svg {
        background-color: black;
     }
}