/* -------------------------------------------------------------------------- */
/*                                  Normalize                                 */
/* -------------------------------------------------------------------------- */
@import './vendor/normalize';

/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */
@import './global/fonts';
@import './global/variables';
@import './global/mixins';
@import './global/base';
@import './global/global';

/* -------------------------------------------------------------------------- */
/*                                  Elements                                  */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                   Modules                                  */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */
circle:hover {
   fill: #42df6e;
   cursor: pointer;
}

svg {
   cursor: grab;
}

svg:active {
   cursor: grab;
}